[idle_timeout]
timeout: 1800

# klipper-toolchanger expects this section to be present.

[bed_mesh]
# The speed (in mm/s) of non-probing moves during the calibration.
# The default is 50.
speed: 140

# The height (in mm) that the head should be commanded to move to
# just prior to starting a probe operation. The default is 5.
horizontal_move_z: 5

# Defines the minimum X, Y coordinate of the mesh for rectangular
# beds. This coordinate is relative to the probe's location. This
# will be the first point probed, nearest to the origin. This
# parameter must be provided for rectangular beds.
mesh_min: 5, 5
# Defines the maximum X, Y coordinate of the mesh for rectangular
# beds. Adheres to the same principle as mesh_min, however this will
# be the furthest point probed from the bed's origin. This parameter
# must be provided for rectangular beds.
mesh_max: 112, 95

# For rectangular beds, this is a comma separate pair of integer
# values X, Y defining the number of points to probe along each
# axis. A single value is also valid, in which case that value will
# be applied to both axes. Default is 3, 3.
probe_count: 3, 3

# The amount of Z difference (in mm) along a move that will trigger
# a split. Default is .025.
split_delta_z: 0.05

# The distance (in mm) along a move to check for split_delta_z.
# This is also the minimum length that a move can be split. Default
# is 5.0.
move_check_distance: 5.0

# A comma separated pair of integers X, Y defining the number of
# points per segment to interpolate in the mesh along each axis. A
# "segment" can be defined as the space between each probed point.
# The user may enter a single value which will be applied to both
# axes. Default is 2, 2.
mesh_pps: 2, 2

# The interpolation algorithm to use. May be either "lagrange" or
# "bicubic". This option will not affect 3x3 grids, which are forced
# to use lagrange sampling. Default is lagrange.
algorithm: bicubic

# When using the bicubic algorithm the tension parameter above may
# be applied to change the amount of slope interpolated. Larger
# numbers will increase the amount of slope, which results in more
# curvature in the mesh. Default is .2.
bicubic_tension: .2

# An optional X,Y coordinate that specifies the location on the bed
# where Z = 0.  When this option is specified the mesh will be offset
# so that zero Z adjustment occurs at this location.  The default is
# no zero reference.
zero_reference_position: 57, 50

#   Optional points that define a faulty region.  See docs/Bed_Mesh.md
#   for details on faulty regions.  Up to 99 faulty regions may be added.
#   By default no faulty regions are set.
#faulty_region_1_min:
#faulty_region_1_max:

#   An optional margin (in mm) to be added around the bed area used by
#   the defined print objects when generating an adaptive mesh.
adaptive_margin: 3

#  The maximum amount of travel (in mm) available outside of the mesh.
#  For rectangular beds this applies to travel on the X axis, and for round beds
#  it applies to the entire radius.  The tool must be able to travel the amount
#  specified outside of the mesh.  This value is used to optimize the travel
#  path when performing a "rapid scan".  The minimum value that may be specified
#  is 1.  The default is no overshoot.
scan_overshoot: 2
